body {
  color: rgb(137, 89, 1);
}

.languages {
  color: rgb(137, 89, 1);
  background-color: white;
  border: none;
  width: 6%;
  margin-top: 50px;
  cursor: pointer;
  border-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.home {
  color: rgb(137, 89, 1);
  border-radius: 100px;
  width: 100%;
  border-top: 5px;
  padding-left: 100px;
  font-size: 15px;
  justify-content: right;
}

.location {
  color: rgb(137, 89, 1);
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li a {
  padding: 0px;
  margin-top: 50px;
  text-decoration: none;
  color: rgb(14, 51, 83);
  display: inline-block;
}

.header-1 {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  margin: 0px;
  justify-content: space-around;
}

.backgroundd {
  margin: 0px;
  padding: 0 0 0 0px;
}

#Page-title {
  color: rgb(137, 89, 1);
  font-size: 1.2rem;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  border-radius: 100%;
}

.owner {
  font-size: 0.8rem;
  margin-top: 0px;
}

.owner-name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 30 0;
}

* {
  margin: 5px;
  padding: 0px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-left {
  width: 60%;
  margin: 5px;
  margin-right: 50px;
  margin-bottom: 100px;
  justify-items: left;
  border-style: solid;
  border-color: rgb(140, 91, 2);
  border-radius: 100px;
  border-right: 50px;
  border-left: 100px;
  border-width: 10px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.content-right {
  width: 100%;
  margin-top: 20px;
  justify-items: center;
  border-style: solid;
  border-color: rgb(140, 91, 2);
  border-radius: 100px;
  border-right: 10px;
  border-left: 50px;
  border-width: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 10px;
}

.image-4 {
  border-radius: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: 30%;
}

.image-4 {
  border-radius: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: 30%;
}

.image-5 {
  border-radius: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 95%;
}

.image-4 {
  border-radius: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: 30%;
}

/* h4 {
  color: coral;
  padding-left: 600px;
  font-size: 40px;
}

.email {
  color: coral;
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 100px;
  -webkit-text-fill-color: coral;
}

.body-2 {
  color: rgb(137, 89, 1);
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.name {
  color: rgb(137, 89, 1);
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 100px;
  -webkit-text-fill-color: coral;
}

.funmi {
  color: coral;
  font-size: 30px;
  padding-left: 600px;
  justify-items: center;
}

.parent-left {
  display: flex;
  flex-direction: row;
}

.parent-right {
  display: flex;
  flex-direction: row-reverse;
}

.submit-form {
  color: coral;
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.thanks {
  color: red;
  border-style: solid;
  border-color: pink;
  border-width: 5px;
  padding-left: 70px;
  font-size: 30px;
  border-radius: 100px;
  margin-left: 500px;
  margin-right: 500px;
  font-style: italic;
} */
