body {
  color: rgb(137, 89, 1);
  background-color: rgb(255, 247, 247);
}

.header-1 {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  margin: 0px;
  justify-content: space-around;
}

.languages {
  color: rgb(137, 89, 1);
  border: none;
  background-color: rgb(255, 247, 247);
  width: 7%;
  margin-top: 50px;
  cursor: pointer;
  border-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 15px;
  font-family: monospace;
}

.home {
  color: rgb(137, 89, 1);
  border-radius: 100px;
  width: 100%;
  border-top: 5px;
  padding-left: 150px;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li a {
  padding: 0px;
  margin-top: 50px;
  text-decoration: none;
  color: rgb(14, 51, 83);
  display: inline-block;
}

.location {
  color: rgb(137, 89, 1);
  margin: 5px;
  font-size: 15px;
}

.currency {
  border-style: solid;
  border-color: rgb(137, 89, 1);
  color: rgb(137, 89, 1);
  border-width: 1px;
  border-radius: 50px;
  font-size: 0.6rem;
  padding: 5px;
  background-color: rgb(255, 247, 247);
}

.line {
  padding-left: 0px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-1 {
  width: 100%;
  padding-right: 0px;
  margin: 0px;
  margin-bottom: 70px;
  margin-top: 45px;
  justify-items: left;
  border-color: rgb(140, 91, 2);
  padding-top: 150px;
  padding-left: 50px;
  padding-bottom: 170px;
}

.brand-details {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 30 0;
}

#brand-name {
  color: rgb(137, 89, 1);
  justify-content: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 100%;
  margin-right: 900px;
  font-size: 2.5rem;
}

.owner {
  font-size: 0.8rem;
  margin-top: 0px;
  margin-right: 900px;
}

.sentence-1 {
  font-family: monospace;
  margin-right: 800px;
}

.heading-2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 40px;
}

.line {
  padding-left: 0px;
  text-align: center;
}

.skin-type {
  justify-content: space-around;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.dropdown-1 {
  position: relative;
  border-radius: 40px;
  margin-left: 50px;
  display: inline-block;
  justify-content: space-around;
}

.dropdown-content-1 {
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #e3e3e3;
  min-width: 360px;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-1:hover .dropdown-content-1 {
  display: block;
}

.dropdown-2 {
  position: relative;
  border-radius: 40px;
  margin-left: 50px;
  display: inline-block;
  justify-content: space-around;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #e3e3e3;
  min-width: 360px;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-2:hover .dropdown-content-2 {
  display: block;
}

.heading-3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 40px;
}

.list-set-1 {
  margin-top: 40px;
  justify-content: space-around;
  border-radius: 30px;
  border-style: none;
}

/* h4 {
  color: coral;
  padding-left: 600px;
  font-size: 40px;
}

.email {
  color: coral;
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 100px;
  -webkit-text-fill-color: coral;
}

.body-2 {
  color: rgb(137, 89, 1);
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.name {
  color: rgb(137, 89, 1);
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 100px;
  -webkit-text-fill-color: coral;
}

.funmi {
  color: coral;
  font-size: 30px;
  padding-left: 600px;
  justify-items: center;
}

.parent-left {
  display: flex;
  flex-direction: row;
}

.parent-right {
  display: flex;
  flex-direction: row-reverse;
}

.submit-form {
  color: coral;
  background-color: rgb(249, 233, 233);
  border: solid;
  border-width: 2px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.thanks {
  color: red;
  border-style: solid;
  border-color: pink;
  border-width: 5px;
  padding-left: 70px;
  font-size: 30px;
  border-radius: 100px;
  margin-left: 500px;
  margin-right: 500px;
  font-style: italic;
} */
