.body {
  color: rgb(137, 89, 1);
  background-color: rgba(255, 248, 240, 0.877);
}

.division-1 {
  height: 50px;
  display: flex;
  margin: 0px;
  margin-top: 10px;
  align-items: flex-end;
  justify-content: space-around;
}

.brandname {
  text-align: left;
  padding-right: 300px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home {
  color: rgb(137, 89, 1);
  border-radius: 100px;
  width: 100%;
  border-top: 5px;
  margin-top: 10px;
  margin-right: 50px;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li a {
  padding: 0px;
  margin-top: 10px;
  text-decoration: none;
  color: rgb(14, 51, 83);
  display: inline-block;
}

.location {
  color: rgb(137, 89, 1);
  margin: 5px;
  font-size: 15px;
}

.currency {
  border-style: solid;
  cursor: pointer;
  margin-top: 5px;
  border-color: rgb(137, 89, 1);
  color: rgb(137, 89, 1);
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(255, 248, 240, 0.877);
  font-size: 0.6rem;
  padding: 5px;
}

.languages {
  border-style: solid;
  cursor: pointer;
  border-color: rgb(137, 89, 1);
  color: rgb(137, 89, 1);
  border-width: 1px;
  border-radius: 50px;
  font-size: 0.6rem;
  margin-top: 5px;
  padding: 5px;
  background-color: rgba(255, 248, 240, 0.877);
}

.line-1 {
  padding-left: 0px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: center;
  background-image: url(face.jpg);
  width: 100%;
  margin: 70 0 0 0;
}

.division-left {
  width: 100%;
  margin: 50 800 50 80;
  background-color: rgba(234, 220, 202, 0.877);
  justify-items: left;
}

.set-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  color: rgb(137, 89, 1);
  font-family: "Times New Roman", Times, serif;
  border-radius: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0px;
  font-size: 4rem;
}

#Welcome-note-1 {
  color: rgb(137, 89, 1);
  font-family: "Times New Roman", Times, serif;
  border-radius: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.Welcome-note-2 {
  font-size: 0.8rem;
  /* color: rgb(253, 234, 234); */
  color: rgb(137, 89, 1);
  padding-bottom: 50px;
  text-align: center;
}

.sentence-1 {
  color: rgb(137, 89, 1);
  font-family: monospace;
  margin: 0 50 0 50;
  text-align: center;
}

.shop-now {
  align-content: center;
  border-width: 8px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10 50 10 50;
  position: relative;
  background-color: rgba(234, 220, 202, 0.834);
  color: rgb(201, 151, 58);
  margin: 50 0 50 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: rgba(222, 171, 105, 0.834);
}

.division-3a {
  border-style: none;
  border-width: 1px;
  filter: opacity(0.8rem);
  background-image: url(snail.webp);
  margin: 150 0 100 0;
}

.heading-01 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  background-color: rgba(234, 220, 202, 0.834);
  margin: 30 0 0 0;
  padding: 50 0 0 0;
}

.line-01 {
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(234, 220, 202, 0.834);
  margin-bottom: 10px;
}

.skin {
  cursor: alias;
  position: static;
  align-content: center;
  border-width: 12px;
  justify-content: space-around;
  margin: 50 0 50 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  border-radius: 50px;
  padding: 20 40 20 40;
  background-color: rgba(234, 220, 202, 0.834);
  color: rgb(137, 89, 1);
}

.quiz {
  border-width: 8px;
  cursor: pointer;
  margin: 50 0 50 0;
  top: 50%;
  left: 50%;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 10 50 10 50;
  background-color: rgba(234, 220, 202, 0.834);
  color: rgb(137, 89, 1);
  border-color: rgba(205, 149, 77, 0.834);
}

.division-3 {
  background-color: rgba(234, 220, 202, 0.834);
  border-style: none;
  border-width: 1px;
  margin: 150 0 100 0;
}

.heading-1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  padding-top: 50px;
}

.line-2 {
  padding-left: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.list-set-1 {
  margin-top: 20px;
  justify-content: space-around;
  background-color: rgba(226, 205, 178, 0.834);
  border-radius: 30px;
  padding: 20 0 20 0;
  border-style: none;
}

.image-set-1 {
  margin-top: 10px;
  background-color: rgba(234, 220, 202, 0.834);
  justify-content: space-around;
  border-radius: 30px;
  padding-bottom: 10px;
  cursor: pointer;
  border-style: none;
}

.ratings {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin: 5 0 5 0;
}

.rate {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 5 0 5 0;
}

.see-more-products {
  align-content: center;
  background-image: url(skincare2.jpg);
  border-width: 8px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  padding: 10 50 10 50;
  background-color: rgba(234, 220, 202, 0.834);
  color: rgb(201, 151, 58);
  margin: 50 0 50 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: rgba(222, 171, 105, 0.834);
}

.division-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading-2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.line-3 {
  padding-left: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.set-8 {
  list-style-type: none;
  margin-left: 0px;
  justify-content: space-around;
}

.qoute {
  font-size: 50px;
  padding-top: 30px;
  font-family: serif;
}

.List-1 {
  border-style: solid;
  border-width: 1px;
  background-color: rgba(253, 251, 248, 0.877);
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 10 0 20;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-color: rgb(216, 216, 216);
}

.WA {
  margin-top: 20px;
  border-radius: 120px;
  padding-top: 10px;
  border-width: 9px;
  background-color: beige;
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgb(243, 188, 211);
  color: white;

  background-color: rgb(137, 89, 1);
}

.line {
  color: rgb(214, 214, 214);
}

.sentence-6 {
  color: rgb(137, 89, 1);
  margin-bottom: 30px;
  margin-top: 20px;
}

.division-5 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading-3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.skin-type {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active {
  background-color: #ccc;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.division-6 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading-4 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
}
.list-set-2 {
  background-color: rgb(248, 231, 231);
  margin-top: 150px;
  padding-bottom: 0px;
  justify-content: space-around;
  margin-bottom: 0px;
  color: rgb(137, 89, 1);
}

.list-set-3 {
  background-color: rgb(248, 231, 231);
  color: rgb(137, 89, 1);
  justify-content: space-between;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 0px;
  margin-left: 0px;
  padding-right: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.location {
  color: rgb(137, 89, 1);
  font-size: 13px;
  padding-left: 0px;
  margin-left: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-2 {
  text-align: center;
  padding-top: 80px;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.p-3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.6rem;
}

.p-4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.7rem;
  margin: 20 0 20 0;
}

.english {
  margin-top: 30px;
  align-content: center;
  border-width: 8px;
  margin-right: 30%;
  margin-left: 44%;
  cursor: pointer;
  border-radius: 50px;
  padding: 10 50 10 50;
  background-color: rgb(248, 231, 231);
  color: rgb(137, 89, 1);
  margin-bottom: 70px;
  border-color: rgb(243, 188, 211);
}

.english-1 {
  margin-top: 50px;
  align-content: center;
  border-width: 8px;
  margin-right: 30%;
  margin-left: 43%;
  cursor: pointer;
  border-radius: 50px;
  padding: 10 50 10 50;
  background-color: rgb(248, 231, 231);
  color: rgb(137, 89, 1);
  margin-bottom: 30px;
  border-color: rgb(243, 188, 211);
}
.list-set-4 {
  background-color: rgb(248, 231, 231);
  color: rgb(137, 89, 1);
  justify-content: center;
  padding-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Inc {
  margin-top: 30px;
  color: rgb(137, 89, 1);
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
