
.parent {
    width: 95%;
    height: 65%;
    outline: 20px solid pink;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end];
    grid-auto-rows: 60px auto 100px;
    grid-template-areas: 
    "header header footer"
    "main main main"
    "footer footer footer"
}

.head {
    grid-area: header;
}
.main {
    grid-area: main;
}
.Footer {
    grid-area: footer;
}


